<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Bobby Love Mouse</title>
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script src="/index.js" type="module"></script>
	<link rel="icon" href="/favicon.ico" />

	<!-- OG meta -->

	<meta property="og:url" content="https://bobbylovemouse.herokuapp.com/">
	<meta property="og:title" content="Bobby Love Mouse">
	<meta property="og:description" content="Boby is a funny pink cube wich is crazy about your mouse.">
	<meta property="og:image" content="https://bobbylovemouse.herokuapp.com/ogIcon.png">
</head>
<body>
	<section id="eventHandler">
		<canvas id="render">
			
		</canvas>
	</section>
	
	
</body>
</html>